.content-heading {
  margin: 10px auto 0;    
  font-size: 1.6rem;
  text-align: center;
  color: #090909;;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.beer-listing {
  text-align: center;
  color: #f58220;
  width: 80%;
  margin: 3% auto;
  border-bottom: 1px solid #f58220;
}

.beer-listing .title-line {
  font-size: 1.8rem;
  padding: 0 0 1% 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.beer-lisitng .comment {
  font-size: 1.8rem;
  padding: 0 0 1% 0;
}

.beer-listing .detail-line {
  font-size: 1.4rem;
  padding: 0 0 1% 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}