.beer-reviews {
  text-align: center;
}

.close-x {
  position: absolute;
  font-size: 2.0rem;
  color: #f58220;
  top: 3%;
  right: 5%;
}

.review-heading {
  margin: 0 0 5%;
}

.review-heading h2 {
  margin: 10px auto 0;    
  font-size: 1.6rem;
  text-align: center;
  color: #090909;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review-heading h3 {
  margin: 0 auto;
  font-size: 1.4rem;
  text-align: center;
  color: #090909;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.review-heading p {
  margin: 1% 0 0 0;           
  font-size: 1.4rem;
  text-align: center;
  color: #090909;
}

.review-listing {
  text-align: center;
  color: #f58220;
  width: 80%;
  margin: 3% auto;
  border-bottom: 1px solid #f58220;
}

.title-line {
  font-size: 1.8rem;
  padding: 0 0 1% 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment {
  font-size: 1.8rem;
  padding: 0 0 1% 0;
}

.detail-line {
  font-size: 1.4rem;
  padding: 0 0 1% 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.back-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 7px 0 9px 0;
  text-align: center;
  width: 120px;
  border: none;
  outline: none;
  border-radius: 15px;
  margin: 0 2% 5%;
  background-color: #f58220;
}

.back-btn span {
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: -3px;
}
